.prov {
    width: 100%;
    padding: 5px;
    height: 15px;
    border: 1px solid black;
    float: left;
    cursor: pointer;
}
.prov:hover {
    background-color: blue;
    color: white;
}
.ResultadoBusquedaProv {
    clear: both;
    width: 300px;
}
#tblEntradasDia {
    z-index: 99999;
    background-color: white;
    margin: auto;
    
}
#tblRegistroEntrada{
    overflow: scroll;
    width: 350px;
    height: 500px;  
}
#tblSalidasDia {
    z-index: 99999;
    background-color: white;
    margin: auto;
    
}
#tblRegistroSalida{
    overflow: scroll;
    width: 350px;
    height: 500px;  
}